html, body {
    font-family: 'Arvo', serif;
    font-size: 90%;
    margin: 0;
    height: 100%;
}

a {
    color: #BDBDBD;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #9ace00;
}

input[type="text"], input[type="password"] {
    background: #F5F5F5;
    border: solid 1px #BDBDBD;
    padding: 5px;
    width: 40%;
}

label {
    text-align: right;
    width: 10%;
    display: inline-block;
}

#notfooter {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -50px;
}

#push {
    height: 50px;
    clear: both;
}

header {
    background: white;
    margin: 0 auto 0 auto;
    padding: 0.5em 10% 0em 10%;
}

header h1 {
    display: inline;
    font-size: 14pt;
    color: #7bc043;
}

header h1 a {
    color: #7bc043;
}

header h1 img {
    vertical-align: middle;
}

header nav {
    display: inline;
    float: right;
    margin-top: 2em;
}

nav ul {
    list-style: none;
	display: inline;
	padding-left: 0;
}

nav ul li {
	display: inline;
	padding-right: 1em;
}

nav.primary a {
    padding: 0.25em 0.5em 0.25em 0.5em;
    text-decoration: none;
    color: #BDBDBD;
    font-weight: bold;
}

nav.primary a:hover {
    color: #9ace00;
}

nav.primary a.current {
    background: #A9A9A9;
    color: white;
    border: solid thin #A9A9A9;
    border-radius: 5px;
    -moz-border-radius: 5px;
}

#hero {
    background: url('/images/hero.png') #2b2c2b no-repeat top center;
    width: 100%;
    color: white;
    text-align: center;
    padding: 200px 0 200px 0;
}

#hero p {
    width: 75%;
    margin: 0 auto 0 auto;
}

#middlebar {
    background: #262626;
    color: white;
    min-height: 90px;
}

#noticebox {
    font-size: 90%;
    padding: 1.5em 20% 1.5em 20%;
    max-width: 700px;
    margin: 0 auto 0 auto;
    display: none;
}

#noticebox.visible {
    display: block;
}

#noticebox img.icon {
    margin-right: 2em;
    vertical-align: middle;
}

#noticebox .close {
    float: right;
}

#content {
    text-align: center;
    color: #b0b0b0;
    padding-bottom: 5em;
    margin: 1em auto 1em auto;
    max-width: 900px;
}

#content article {
    max-width: 700px;
    margin: 1em auto 1em auto;
}

#content article.text {
    text-align: left;
}

#content h1 {
    color: #696969;
    font-size: 24pt;
}

#getstarted {
    background: #F5F5F5;
    padding: 3em;
    text-align: center;
    font-size: 150%;
}

a.greenbutton {
    background: #bcea2f;
    border: solid 2px #afdc29; 
    color: white;
    padding: 0.5em 1.5em 0.5em 1.5em;
    text-decoration: none;
    border-radius: 5px;
    -moz-border-radius: 5px;
    font-weight: normal;
}

a.greenbutton:hover {
    background: #b8e62e;
}

a img {
    vertical-align: middle;
}

footer {
    background: #3C3C3C;
    color: #737373;
    font-weight: bold;
    font-size: 80%;
    padding: 20px 20% 0 20%;
    height: 30px;
    clear: both;
}

footer .left {
    float: left;
}

footer .right {
    float: right;
}

footer a {
    color: #ACACAC;
    text-decoration: none;
    margin: 0 0.25em 0 0.25em;
}

footer a:hover {
    color: white;
}

.progressbar, .progress {
    margin-bottom: 0.5em;
    height: 10px;
    background: #eaeaea;
}

.progress {
    height: 10px;
    background: #fd6000;
}

.progresslabel {
    position: relative;
    text-align: left;
    margin-left: -1em;
    color: #fd6000;
    font-weight: bold;
}

#content nav {
    font-size: 120%;
}

#content nav a {
    text-decoration: none;
    color: #eaeaea;
    letter-spacing: 2px;
    font-weight: normal;
}

#content nav a.current, #content nav a:hover {
    color: #fd6000;
}

#chapterprogress {
    margin: 2em auto 2em auto;
    width: 75%;
    text-align: left;
}

#videos {
    float: left;
    width: 100%;
    text-align: left;
}

#videos article {
    display: inline-block;
    width: 280px;
    margin-right: 15px;
}

#videos article h2 {
    display: inline;
    font-size: 100%;
}

#videos .image {
    position: relative;
    display: block;
    margin-bottom: 0.5em;
}

#videos .image.completed a:before {
    content: url('/images/complete.png');
    position: absolute;
    top: 0;
    left: 0;
}

#videos .image a:hover:before {
    content: url('/images/play.png');
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -19px 0 0 -19px;
}

#videos .pdf {
    float: right;
}

#thefeed {
    float: left;
    width: 30%; 
    text-align: left;
}

#thefeed article {
    margin-bottom: 1em;
}


#thefeed .question, #thefeed .answer {
    padding: 1.5em;
    border-radius: 5px;
}

#thefeed article .question {
    background: #eeeeee;
    padding-bottom: 0.5em;
}

#thefeed article .answer {
    background: #f6f6f6;
}

#thefeed article .question div {
    margin-top: 1em;
    text-align: right;
}

#thefeed article .question a.reply {
    background: url('/images/reply.png') left center  no-repeat;
    padding-left: 12px;
    color: #aeaeae;
    text-decoration: none;
}

#thefeed article .answer a.readmore {
    color: #fc6200;
    text-decoration: none;
    font-size: 90%;
}

#thefeed article a {
    font-weight: normal;
}

#thefeed article a:hover {
    font-weight: bold;
}

#videoplayer {
    display: none;
    text-align: center;
    height: 100%;
    min-height: 100%;
}

#videoplayer .close {
    text-align: right;
    position: relative;
    top: 50px;
    right: 50px;
}

#videoplayer div.video {
    position: relative;
    top: 50%;
    margin-top: -405px;
}

#previous, #next {
    margin-top: 25%;
}

#previous {
    float: left;
}

#next {
    float: right;
}

.imageQuestion img {
    padding: 1em;
}

.textQuestion {
    margin-top: 3em;
}

.textQuestion .answer {
    background: #ededed;
    width: 90%;
    margin: 0.5em auto 0.5em auto;
    text-align: left;
    padding: 1em;
    color: #676767;
    font-weight: bold;
    cursor: pointer;
}

.textQuestion .answer:hover, .textQuestion .selected {
    background: #fe6000;
    color: white;
}

.textQuestion .question a {
    text-decoration: none;
    font-weight: normal;
}

.sliderQuestion .answers {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.sliderQuestion .label {
    display: inline-block;
    *display: inline; zoom:1;
    font-weight: bold;
    margin-top: 1em;
    color: #676767;
    width: 20%;
    vertical-align: top;
}

.sliderQuestion .answers .stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0
}

.sliderbar {
    background: #E1E1E1;
}

.sliderbar .slider {
    cursor: pointer;
}

.quadQuestion {
    text-align: center;
    margin-top: 5em;
}

.quadQuestion .middle div {
    display: inline-block;
    vertical-align: middle;
}

.quadQuestion .top, .quadQuestion .bottom, .quadQuestion .left, .quadQuestion .right {
    font-weight: bold;
    margin: 1em;
    color: #ff6100;
}

.quadQuestion .left, .quadQuestion .right {
    width: 20%;
}

.quadQuestion .left {
    text-align: right;
}

.quadQuestion .right {
    text-align: left;
}

.quadQuestion .above span, .quadQuestion .below span {
    display: inline-block;
    width: 40%;
}

.quadQuestion .above span {
    vertical-align: bottom;
}

.quadQuestion .below span {
    vertical-align: top;
}

.quad {
    background: url('/images/quad.png') center center no-repeat;
    width: 273px;
    height: 273px;
    margin: 0 auto 0 auto;
    text-align: left;
}

.quad .selector {
    top: 126px;
    left: 126px;
    cursor: pointer;
}
